*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #dae2f3;
  color: #727a8d;
  width: 100vw;
  height: 100vh;
}
.bg-content{
  position: fixed;
  height: 200%;
  width: 120%;
  transform: rotate(15deg);
  right: -83%;
  top: -50%;
  background-color: #a8b5c9;
}
.tickets__tab{
  background-color: #f1f7fd;
  border-radius: 10px;
}
.tickets__logo{
  display: inline-block;
  text-decoration: none;
  color: #7074af;
  font-size: 18px;
  font-weight: 700;
}
.tickets__logo span{
  display: inline-block;
  border: 3px solid #6fac9a;
  border-left: none;
  margin-left: -3px;
}
.tab__links{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
  color: #a9aac6;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.tab__links span{
  font-size: 22px;
}
.tab__links.active{
  background-color: #46b78a !important;
}
.tab__links:hover{
  color: #a9aac6;
}
.plane__text{
  font-size: 18px;
}
.plane__title{
  font-size: 22px;
  font-weight: bold;
  color: #7074af;
}
.tab__label{
  font-size: 14px;
  color: #a4a5b2;
}
.form-control{
  border: none;
}
.tabs__input{
  background-color: #fff;
  border-radius: 5px;
}
.tabs__input .bx{
  font-size: 18px;
  color: #7074af;
}
.nav-item {
  width: 24%;
}
::placeholder{
  font-size: 12px;
  color: #99989e!important;
}
.form-select{
    font-size: 12px;
    color: #99989e;
    border: none;
    outline: none;
}
.class-select{
  width: 60%;
}
.bxs-user{
  font-size: 16px;
}
.tabs__input span{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__btn{
  width: 100%;
  background-color: #6a8ce4;
  text-transform: uppercase;
}
.tickets__result{
  background-color: #e8f0fa;
  z-index: 100;
  border-radius: 10px;
}
.result__title{
  font-size: 24px;
  font-weight: 400;
}
.result__text{
  font-size: 12px;
  color: #b7bdc7;
}
.result__link{
  display: inline-block;
  color: #b7bdc7;
  background-color: #fff;
  border-radius: 30px;
}
.nav-item .active{
  background-color: #6a8ce4;
  color: #fff;
}
.tickets__place{
  font-size: 24px;
  color: #6e7398;
  font-weight: 500;
}
.tickets__direction span{
  font-size: 24px;
}
.page-item .active{
  background-color: #6a8ce4 !important;
  color: #fff;
}
.card{
  height: 100px;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}

.card__p{
  font-size: 12px;
  color: #99989e;
}
.card-img-top{
  width: 130px;
}
.wizz-img{
  height: 60px;
}
.card__date,
.card__time{
  font-size: 14px;
}
.card__time{
  color: #8286a0;
  font-weight: bold;
}
.stops__p{
  font-size: 12px;
  color: #fff;
  background-color: #505161;
  border-radius: 30px;
  display: inline-block;
  padding: 2px 10px;
  text-align: center;
}
.card__price{
  font-size: 24px;
  font-weight: bold;
}
.red-stop {
  background-color: #e57c73;
}
.american-img{
  height: 70px;
}
.tickets__result{
  padding: 30px 60px !important;
}
@media screen and (max-width:1200px){
  .card{
    height: 200px;
  }
  .card-body{
    display: flex;
    flex-wrap: wrap;
  }
  .pagination{
    display: flex;
    justify-content: center;
   }
   .card__stops{
    margin: 0 !important;
  }
  .card-body .me-5{
    margin-right: 0 !important;
  }
  .british__logo{
    height: 140px;
  }
  .card-img-top{
    margin-right: 0 !important;
  }
  .card__price{
    font-size: 18px;
  }
}
@media screen and (max-width:992px){
  .card{
    height: 230px;
  }
  .card-body{
    display: flex;
    flex-wrap: wrap;
  }
  .pagination{
    display: flex;
    justify-content: center;
   }
   .card__stops{
    margin: 0 !important;
  }
  .card-body .me-5{
    margin-right: 0 !important;
  }
  .british__logo{
    height: 140px;
  }
  .card-img-top{
    margin-right: 0 !important;
  }
}
@media screen and (max-width:768px) {
  .bg-content{
    display: none;
  }
  .card-body{
    display: flex;
    flex-wrap: wrap;
  }
  .card{
    height: 250px;
  }
  .pagination{
    display: flex;
    justify-content: center;
   }
   .card__stops{
    margin: 0 !important;
  }
  .card-body .me-5{
    margin-right: 0 !important;
  }
  .british__logo{
    height: 140px;
  }
  .card-img-top{
    margin-right: 0 !important;
  }
 
 
  .result__title{
    font-size: 16px;
  }
  .result__link{
    padding: 2px 6px;
    font-size: 12px;
  }
}
@media screen and (max-width:576px) {
  .price{
    display: none;
  }
  .card{
    height: 270px;
  }
  .card__stops{
    margin: 0 !important;
  }
  .card-body .me-5{
    margin-right: 0 !important;
  }
  .british__logo{
    height: 140px;
  }
  .pagination{
   display: flex;
   justify-content: center;
  }
}